<%= render partial: "print_message", locals: { messages: @messages }  %>
Welcome <%= user.name %>
<%= link_to 'change password ', edit_user_path %>
<%= link_to 'delete your account ',user_path, method: :delete, data: { confirm: "Are you sure?" } %>

<%= form_for @post, :url => user_add_post_path do |f| %>
  <%=f.label :content, "What's on your mind?" %>
  <%=f.text_field :content %>

  <%= f.submit "Post" %>
<% end %>
<url>
 <% @user_posts.each do |post| %>
  <li>
   Date: <%= post.date %>
   Content: <%= simple_format(post.content) %>
  </li>
 <% end %>
</url>
